@model Nop.Plugin.Ralfeus.ShoppingCartWeight.Models.ShoppingCartWeightModel
<div class="cart-collaterals">
    <label class="title">@T("Ralfeus.ShoppingCartWeight.TotalWeight"):</label>
    <span class="product-subtotal">@Model.Weight</span>
</div>