@model Nop.Plugin.Ralfeus.ShoppingCartWeight.Models.ShoppingCartWeightModel
<div class="totals">
    <label class="td-title">@T("ShoppingCartWeight.TotalWeight"):</label>
    <span class="product-subtotal">@Model.Weight</span>
</div>