@model Nop.Plugin.Ralfeus.ShoppingCartWeight.Models.ShoppingCartWeightModel
<div class="product-collateral">
    <label class="title">@T("admin.catalog.products.fields.weight"):</label>
    <span class="product-subtotal">@Model.Weight</span>
</div>